body{
    margin: 0;
}
@media only screen and (max-width: 1px) {
  body {
    background-color: lightblue;
}
}
#navbar{
    display: flex;
    width: 100%;
    height: 80px;
    background-color:#6082B6;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
}
#nav-links1, #nav-links2, #nav-links3{
    text-decoration: none;
    color: white;
    font-size: 165%;
    margin-right: 0%;
    font-weight: 200;
    padding: 25px;
}
.navlinks:hover{
    background-color: #191970;
}
#welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 592px;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}
#welcomep{
    color: #6082B6;
    margin-bottom: 0
    font-family: "Poppins", "sans-serif";
    font-size: 34px;
    font-weight: 200;
    margin-top: 12px;
}
#welcomeh1{
    color: white;
    font-family: "Raleway", "sans-serif";
    font-size: 56px;
    margin: 0;
    font-weight: 700;
}
#projects{
    width: 100%;
    height: 1184px;
    background-color: #8f0a1b;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.projecth1{
    margin: 0;
    width: 100%;
    padding-top: 125px;
    font-size: 43px;
    font-family: "Raleway", "sans-serif";
    font-weight: 700;
    text-align: center;
    color: white;
}
#projectimg1{
    width: 400px;
    height: 400px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-right: 40px;
}
#projectp1{
    font-size: 20px;
    font-family: "Poppins", "sans-serif";
    color: white;
    font-weight: 200;
    width: 400px;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    text-align: center;
    margin: 0;
    padding: 15px;
}
#projectimg2{
    height: 400px;
    width: 400px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-right: 40px;
}
#projectsp2{
    font-size: 20px;
    font-family: "Poppins", "sans-serif";
    color: white;
    font-weight: 200;
    width: 400px;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    text-align: center;
    margin-top: 0;
    padding: 15px;
    text-decoration: none;
}
#projectimg3{
    width: 400px;
    height: 400px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
#projectp3{
    font-size: 20px;
    font-family: "Poppins", "sans-serif";
    color: white;
    font-weight: 200;
    width: 400px;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    text-align: center;
    margin: 0;
    padding: 15px;
}
#projectimg4{
    width: 400px;
    height: 400px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-right: 40px;
    margin-left: 29px;
}
#projectp4{
    font-size: 20px;
    font-family: "Poppins", "sans-serif";
    color: white;
    font-weight: 200;
    width: 400px;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    text-align: center;
    margin: 0;
    padding: 15px;
}
#projectimg5{
    width: 400px;
    height: 400px;
    margin-bottom: 15Spx;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: column;
    margin-right: 40px;
}
#projectp5{
    font-size: 20px;
    font-family: "Poppins", "sans-serif";
    color: white;
    font-weight: 200;
    width: 400px;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    text-align: center;
    margin: 0;
    padding: 15px;
}
#projectimg6{
    width: 400px;
    height: 400px;
    background-color: grey;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-right: 40px;
}
#projectp6{
    font-size: 20px;
    font-family: "Poppins", "sans-serif";
    color: white;
    font-weight: 200;
    width: 400px;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    text-align: center;
    margin: 0;
    padding: 15px;
}
#contact{
    display: flex;
    flex-direction: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 477px;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
 }
#endsessionh1{
    font-size: 56px;
    font-family: "Raleway", "Sans-serif";
    font-weight: 700;
    color: white;
    padding-top: 90px;
    padding-bottom: 0px;
    width: 100%;
    padding-left: 400px;
    margin-bottom: 0px;
}
#endsessionp1{
    width: 100%;
    font-size: 26px;
    font-family: "Poppins", "Sans-serif";
    font-weight: 100;
    color: white;
    padding-left: 485px;
    margin-bottom: 15px;
    margin-top: 0px;
}
.fa{
padding: 10px;
font-size: 30px;
width: 115px;
text-align: center;
text-decoration: none;
margin-left: 15px;
margin-top: 0px;
}
.fa-linkedin{
    background-color: #007bb5;
    color: white;
}
.fa-youtube{
    background-color: #bb0000;
    color: white;
}
.fa-instagram{
    background-color:#125688;
    color: white;
}
.fa-google{
    background-color:#dd4b39;
    color: white;
    text-decoration: none;
}
#blueline{
    width: 100%;
    height: 5px;
    background-color: #6082B6
}
#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    margin: 0px;
}
#footerp{
    font-size: 20px;
    margin-top: 0px;
    padding-top: 20px;
    color: grey;
}
.fa-codepen{
  color: white;
  background-color: grey;
  text-decoration: none;
}
.fa-github{
  color: white;
  background-color: black;
}
#portfolioimg, #tributeimg, #landingimg, #surveyimg, #techimg{
  height: 329px;
  width: 420px;
  border: 2px solid grey;
  margin-bottom: 0px;
  margin-top: 0px;
}

#logosection {
    width: 100%;
    height: 1300px;
    background-color: #005b96;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
}

.logobox {
      width: 400px;
    height: 400px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: column;
    margin-right: 40px;
    margin-left: 20px;
    border: 2px solid grey;
}

.logoimg {
  width: 100%;
  max-height: 340px;
  background-color: white;
}

.logotext {
 font-size: 20px;
    font-family: "Poppins", "sans-serif";
    color: white;
    font-weight: 200;
    max-width: 100%;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    text-align: center;
    margin: 0;
    padding: 15px; 
}

.logotext2 {
   font-size: 20px;
    font-family: "Poppins", "sans-serif";
    color: white;
    font-weight: 200;
    max-width: 100%;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    text-align: center;
    margin: 0;
    padding: 15px; 
}
